.double-input {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1 1 1 1;
    -fx-background-radius: 3 3 3 3, 2 2 2 2;
}

.double-input.focused {
    -fx-background-color: -fx-control-inner-background,
    -fx-focus-color,
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 0, 1 1 1 1;
    -fx-background-radius: 3 3 3 3, 3 3 3 3, 2 2 2 2;
}